.yellow{
	background-color: orange;
	display:inline-block; 	
	margin-right: 20px;
	margin-top: 0;
}
.grey{
	background-color: grey;
	display: inline-block;
	margin-right: 20px;
	margin-top: 0;

}

h4{
	padding: 0.4em;
	margin:0;
}

.white{
	color:white;
}
body{
	margin-top: 0;
}